:root {
  --color-chesnut-50: #fcf5f4;
  --color-chesnut-100: #fae8e6;
  --color-chesnut-200: #f6d5d2;
  --color-chesnut-300: #efb7b2;
  --color-chesnut-400: #e48d85;
  --color-chesnut-500: #d6675d;
  --color-chesnut-600: #c4544a;
  --color-chesnut-700: #a23c33;
  --color-chesnut-800: #86352e;
  --color-chesnut-900: #70322c;
  --color-chesnut-950: #3c1613;
}

@theme {
  --color-chesnut-50: #fcf5f4;
  --color-chesnut-100: #fae8e6;
  --color-chesnut-200: #f6d5d2;
  --color-chesnut-300: #efb7b2;
  --color-chesnut-400: #e48d85;
  --color-chesnut-500: #d6675d;
  --color-chesnut-600: #c4544a;
  --color-chesnut-700: #a23c33;
  --color-chesnut-800: #86352e;
  --color-chesnut-900: #70322c;
  --color-chesnut-950: #3c1613; 
}