:root {
  --color-directus-50: #eef0ff;
  --color-directus-100: #e0e3ff;
  --color-directus-200: #c6cbff;
  --color-directus-300: #a4a8fd;
  --color-directus-400: #8480f9;
  --color-directus-500: #7161f3;
  --color-directus-600: #5c3de6;
  --color-directus-700: #5536cc;
  --color-directus-800: #452fa4;
  --color-directus-900: #3b2d82;
  --color-directus-950: #231a4c;
}
