:root {
  --color-turquoise-50: #eafffd;
  --color-turquoise-100: #cbfffb;
  --color-turquoise-200: #9efffa;
  --color-turquoise-300: #5bfffa;
  --color-turquoise-400: #00fbff;
  --color-turquoise-500: #00dde5;
  --color-turquoise-600: #00b0c0;
  --color-turquoise-700: #038c9b;
  --color-turquoise-800: #0d6f7d;
  --color-turquoise-900: #105b69;
  --color-turquoise-950: #033d49;
}